h1{
   text-align: center;
}
.con{
    padding-left: 27rem;
    text-align: center;
}
ul.no-bullets{
    list-style-type: none;
 
}
.navbar{
    padding-top: 0%;
    width: 100%;
}
.navbar-brand{
    font-size: 2.2rem;
}
.navbar li{
    padding: 0 0.8rem;
}
.navbar li a{
    font-size: 1.2rem;
    font-weight: normal;
}
.navbar li a:hover{
    color: var(--black) !important;
}
.card{
    width: 22rem; 
    height: 25rem;
}
.foot {
    margin-left: 16rem;
}
.card:hover {
    transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
    border: 1px solid #cccccc;
    background-color: white;
  }
  .card:hover:before {
    transform: scale(2.15);
  }

table,td{
    padding: 2.5rem;
    border-collapse: collapse;
    border: 0;
}
h3{
    padding-top: 2rem;
    text-align: center;
    color:white;
}
.contact{
    text-align: center;
    color: white;
}
.head{
    color: black;
    padding-left: 9.5rem;
}
.footer{
    background-color: #008080;
    padding-bottom: 0;
}
.img-circle {
    border-radius: 4rem;
}
.butto{
    text-decoration: none;
    color: black;
    border-radius: 5rem;
}
.hh{
    align-content: right;
}
.p-3{
    border-radius: 1.5rem;
}
.container1{
    padding-top: 4rem;
    padding-bottom: 4rem;
    
}
.container3 {
    padding: 0 16px;
  }
  
  .container3::after, .row1::after {
    content: "";
    clear: both;
    display: table;
  }
.row{
    padding: 0.8rem;
}
.row:hover{
    background-color: #25c5c5;
    border-radius: 2rem;
}
.col{
    width: 100%;
    padding-left: 15rem;
    padding-right: 15rem;
    text-align: center;
}

.sem1
{
    background: url("./images/web2.jpg");
    opacity: 1.0;
    height:auto;
    background-size:cover;
}
.sem2
{
    background: url("./images/web4.jpg");
    opacity: 1.0;
    height:auto;
    background-size:cover;
}
.sem3
{
    background: url("./images/web6(1).jpg");
    opacity: 1.0;
    height:auto;
    background-size:cover;
}
.sem4
{
    background: url("./images/web5.jpg");
    opacity: 1.0;
    height:auto;
    background-size:cover;
}
.sem5
{
    background: url("./images/iet\ photo4.jpg");
    opacity: 1.0;
    height:auto;
    background-size:cover;
}
.sem6
{
    background: url("./images/iet\ photo3.jpg");
    opacity: 1.0;
    height:auto;
    background-size:cover;
}
.sem8
{
    background: url("./images/web8.jpg");
    opacity: 1.0;
    height:auto;
    background-size:cover;
}
.sem7
{
    background: url("./images/web7.jpg");
    opacity: 1.0;
    height:auto;
    background-size:cover;
}
.navbar-dark
{
    background-color: #008080;
}
.login
{
    text-align: left;
    margin-top: 24px;
    margin: 100px; 
    margin-left: 30rem;
    border: solid 5px #573775;
    background: aliceblue;
    padding: 22px;
    display: inline-block;
    border-radius: 20px;
    border: 6px solid #0e8863;
}
.register
{
    text-align: left;
    margin-top: 24px;
    margin: 100px; 
    margin-left: 30rem;
    border: solid 5px #573775;
    background: aliceblue;
    padding: 22px;
    display: inline-block;
    border-radius: 20px;
    border: 6px solid #0e8863;
}
input{
	border-radius: 10px;
    width: 300px;
    height: 30px;
    font-size: 30px;
    border: 2px solid #0d664b;
    padding-left: 10px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
h2{
    text-align: center;
}
.column1 {
    float: left;
    width: 25%;
    padding: 0 8px;
  }
  .card4 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }